<ng-header></ng-header>
<section id="login">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="form">
					<form #login="ngForm" (ngSubmit)="onLogin(login.value)">
						<div class="inner">
							<div class="form-row">
									<div class="col-md-12 col-lg-12">
										<div class="form-group">
											<div class="form-holder">
												<fieldset>
													<legend>Usuario</legend>
													<input type="text" class="form-control"  ngModel name="email" placeholder="usuario y/o correo" required>
												</fieldset>
											</div>
										</div>

										<div class="form-group">
											<div class="form-holder">
												<fieldset>
													<legend>Contraseña</legend>
													<input type="password" class="form-control" ngModel name="password" placeholder="Contraseña" required>
												</fieldset>
											</div>
										</div>

										<div class="form-group">
											<a href="">Olvido su contraseña</a>
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-block btn-outline-danger">Ingresar</button>
										</div>
										<div class="form-group">
											<a [routerLink]="['/register']" class="btn btn-block btn-outline-secondary">Registro</a>
										</div>
									</div>		
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>	
	</div>
</section>



